.details_container {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
	border-style: solid;
	border-color:#000000;
	border-width:medium;
}

#container .text-title {
	font-size: 200%;
	margin-bottom: 0px;
}

#container h3 {
	margin: 2px;
}

#container .text-part{
	margin-top:20px;
	margin-left:0px;
	margin-right:0px;
	border-top:  1px solid black;
	border-bottom: 1px solid black;
	font-size: 150%;
	background:#729fcf;
}



#container .text-content{
	margin:0px;
	font-size: 100%;
}